*,
head,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: red;
  padding: 20px;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  width: auto;
  background-color: hsl(210, 46%, 95%);

  .grid-personnality {
    .person {
      margin: 20px 0px;
      border-radius: 10px;
      padding: 30px;
      .head {
        display: flex;
        gap: 20px;
        margin-bottom: 5px;
        line-height: 1;

        img {
          border-radius: 50%;
          width: 30px;
        }

        span {
          opacity: 50%;
          font-size: 0.7rem;
        }
      }
      p {
        &:nth-child(even) {
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 20px;
        }

        &:nth-child(odd) {
          font-size: 0.8rem;
          line-height: 1.5;
          opacity: 70%;
        }
      }
    }

    .personnality1 {
      background-color: hsl(263, 55%, 52%);
      color: white;
      position: relative;
      .quota {
        position: absolute;
        top: 0;
        right: 20px;
        opacity: 50%;
        border: none;
        z-index: 1;
      }
      img {
        border: solid 2px hsl(263, 100%, 66%);
      }

      p {
        &:nth-child(3) {
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 20px;
          opacity: 100%;
          position: relative;
          z-index: 2;
        }
        &:nth-child(4) {
          font-size: 0.8rem;
          line-height: 1.5;
          opacity: 50%;
        }
      }
    }

    .personnality2 {
      background-color: hsl(217, 19%, 35%);
      color: white;
    }

    .personnality3 {
      background-color: hsl(0, 0%, 100%);
      color: hsl(219, 29%, 14%);
    }

    .personnality4 {
      background-color: hsl(219, 29%, 14%);
      color: white;
      img {
        border: solid 2px hsl(263, 100%, 66%);
      }
    }

    .personnality5 {
      background-color: hsl(0, 0%, 100%);
      color: hsl(219, 29%, 14%);
    }
  }
}

@media screen and (min-width: 1044px) {
  body {
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .grid-personnality {
      height: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, auto);
      grid-gap: 20px;
      padding: 50px;
      .personnality1 {
        grid-column: 1/3;
        grid-row: 1;
      }
      .personnality2 {
        grid-column: 3/4;
        grid-row: 1;
      }

      .personnality3 {
        grid-column: 1/2;
        grid-row: 2;
      }
      .personnality4 {
        grid-column: 2/4;
        grid-row: 2;
      }
      .personnality5 {
        grid-column: 4/5;
        grid-row: 1/3;
      }
    }
  }
}
